<div ng-controller="standoviCtrl">
	
	<div class="page-header">
		<h1>Štandovi</h1>
	</div>
	
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<form>
				<div class="form-group">
					<label for="zakupac">Zakupac</label>
					<input class="form-control" ng-model="noviStand.zakupac" id="zakupac">
				</div>
				<div class="form-group">
				<label for="povrsina">Površina</label>
				<input class="form-control" ng-model="noviStand.povrsina" id="povrsina">
				</div>
				<div class="form-group">
				<label for="sajam">Sajam</label>
				<select class="form-control" ng-model="noviStand.sajamId" id="sajam">
					<option ng-repeat="sa in sajmovi" value="{{sa.id}}">{{sa.naziv}}</option>
				</select>
				</div>
				<button class="btn btn-primary" ng-click="add()">Dodaj</button>
			</form>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<table class="table table-bordered table-condensed table-striped">
				<thead>
					<tr>
						<th>Zakupac</th>
						<th>Površina</th>
						<th>Sajam</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="s in standovi">
						<td>{{s.zakupac}}</td>
						<td>{{s.povrsina}}</td>
						<td>{{s.sajamNaziv}}</td>				
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>